.ProjectTextStyle
{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Inria Serif;
    text-decoration: double;
}

.ProjectTextStyle.Main
{
    font-size: 34px;
    text-align: center;
    padding-bottom: 3%;
    text-decoration: double;
}

.ProjectTextStyle.Sub
{
    font-size: 14px;
    text-align: left;
    padding-bottom: 2%;
    text-decoration: double;
}