.ProjectTextStyleMain
{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    font-family: Inria Serif;
    text-align: left;
    margin-inline: 15%;
    padding: 2%;
    text-decoration: double;
}

.ProjectTextStyleSub
{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    font-family: Inria Serif;
    text-align: left;
    margin-inline: 15%;
    padding-bottom: 2%;
    text-decoration: double;
}