.HomeTextStyle {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Inria Serif;
    text-align: left;
}

.HomeTextStyle.Main {
    font-size: 64px;
    padding-left: 11%;
    padding-bottom: 2%;
}

.HomeTextStyle.Sub {
    font-size: 32px;
    margin-left: 10%;
    margin-top: 3%;
}
